<div class="main-container">
  <section class="wrapper wrapper-grey padding50">
    <!-- start: CLIENTS CONTAINER -->
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="center">Let's get started!<br>
          First, tell us what you're looking for.</h2>
          <div class="col-md-5" style="margin-top:20px;">
            <h4 class="center"><strong>Job Seeker Sign Up</strong></h4>
            <div class="profile_details center"><img src="assets/images/avatar-1-xl.jpg"></div>
            <h5 class="center">I'm looking for my dream job</h5>
            <p class="center">Create a unique profile</p>
            <p class="center"><a class="btn btn-teal btn-md center" href=
            "candidate_sign_up.html">SIGN UP</a></p>
          </div>
          <div class="col-md-2" style="margin-top:20px;">
            <hr align="left" size="100px" width="1px">
          </div>
          <div class="col-md-5" style="margin-top:20px;">
            <h4 class="center"><strong>Employer Sign Up</strong></h4>
            <div class="profile_details center"><img src="assets/images/avatar-1-xl.jpg"></div>
            <h5 class="center">I'm looking for quality candidates</h5>
            <p class="center">Advertise and Search</p>
            <p class="center"><a class="btn btn-teal btn-md center" href=
            "employer_sign_up.html">SIGN UP</a></p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div><!-- end: CLIENTS CONTAINER -->
  </section>
</div>