<section class="page-top">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <h1>Musimba</h1>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul class="pull-right breadcrumb">
        <li>
        	<%= link_to 'Home', root_path %>
        </li>
        <li class="active">About Us</li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper padding50">
  <!-- start: ABOUT US CONTAINER -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-right">About Us</h2>
        <hr class="fade-left">
        <div class="text-right">
          <p>Musimba private investments Company in Technology, Agrobusiness, Equestrian, Mining,
          Energy and Ecotourism fields in East Africa.</p>
          <p>MUSIMBA was founded with the view of providing solutions and services in the Information
          Communications Technology, (ICT) sector in East and Central Africa region. With growth, we
          expanded to the Agrobusiness, Equestrian, Mining, Energy and Ecotourism sectors.</p>
          <p>We are driven by steadfast innovation, creativity and technology leadership.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="icon-list animate-group">
          <li>
            <div class="timeline animate" data-animation-options=
            '{"animation":"scaleToBottom", "duration":"300"}'></div><i class=
            "fa fa-rocket circle-icon circle-teal animate" data-animation-options=
            '{"animation":"flipInY", "duration":"600"}'></i>
            <div class="icon-list-content">
              <h4>Our Mission</h4>
              <p>To inspire innovation, creativity and technology leadership which create equity
              value.</p>
            </div>
          </li>
          <li>
            <div class="timeline animate" data-animation-options=
            '{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div><i class=
            "clip-paperplane circle-icon circle-green animate" data-animation-options=
            '{"animation":"flipInY", "duration":"600"}'></i>
            <div class="icon-list-content">
              <h4>Our Vision</h4>
              <p>To become a worldwide leader in private equity dedicated to improving and
              enhancing lives.</p>
            </div>
          </li>
          <li>
            <div class="timeline animate" data-animation-options=
            '{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div><i class=
            "fa fa-flag circle-icon circle-bricky animate" data-animation-options=
            '{"animation":"flipInY", "duration":"600"}'></i>
            <div class="icon-list-content">
              <h4>Our Philosophy</h4>
              <p>To bring the world of investments to East and Central Africa and take East and
              Central Africa to the investments world.</p>
              <p></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- end: ABOUT US CONTAINER -->
</section>
<section class="wrapper wrapper-grey padding50">
  <!-- start: PORTFOLIO CONTAINER -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="flexslider" data-plugin-options='{"controlNav":false,"sync": "#carousel"}'>
          <ul class="slides">
            <li>
              <a class="group1" href="assets/image12.jpg" title="Caption here"><img src=
              "assets/image12.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image13.jpg" title="Caption here"><img src=
              "assets/image13.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image14.jpg" title="Caption here"><img src=
              "assets/image14.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image15.jpg" title="Caption here"><img src=
              "assets/image15.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image16.jpg" title="Caption here"><img src=
              "assets/image16.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image17.jpg" title="Caption here"><img src=
              "assets/image17.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image18.jpg" title="Caption here"><img src=
              "assets/image18.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
            <li>
              <a class="group1" href="assets/image19.jpg" title="Caption here"><img src=
              "assets/image19.jpg"> <span class="image-overlay"><i class=
              "clip-expand circle-icon circle-main-color"></i></span></a>
            </li>
          </ul>
        </div>
        <div class="flexslider animate-group" data-plugin-options=
        '{"itemWidth": 120, "itemMargin": 5}' id="carousel">
          <ul class="slides">
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image12.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image13.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image14.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image15.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image16.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image17.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image18.jpg"></li>
            <li><img class="animate" data-animation-options=
            '{"animation":"fadeIn", "duration":"600"}' src="assets/image19.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section-content">
          <h2>About Kibwezi West</h2>
          <hr class="fade-right">
          <p>Lid est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores
          nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia
          dolor sit amet, consectetur, adipisci amets uns.</p>
          <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums
          unsers sadips ameet quasi architecto beatae vitae dicta sunt explicabo</p>
          <ul>
            <li>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
            eleifend ac, enim.</li>
            <li>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu.</li>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</li>
            <li>Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci amets uns.</li>
            <li>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima
            rerums unsers sadips ameet quasi architecto beatae vitae dicta sunt explicabo.</li>
          </ul>
          <hr class="fade-right">
          <a class="btn btn-teal" href="http://kibweziwest.co.ke/" target="_blank"><i class="fa fa-info"></i> Learn
          more...</a>
        </div>
      </div>
    </div>
  </div><!-- end: PORTFOLIO CONTAINER -->
</section>