<section class="page-top">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <h1>Employers</h1>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul class="pull-right breadcrumb">
        <li>
        	<%= link_to 'Home', root_path %>
        </li>
        <li class="active">Employers</li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper wrapper-grey padding50">
  <!-- start: PORTFOLIO CONTAINER -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="center">Musimba Job Portal a simple way to advertise and boost your work
        vacancies.</h1>
        <hr>
      </div>
      <div class="col-md-4">
        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
          <ul class="slides">
            <li><img src="assets/image10.jpg"></li>
          </ul>
        </div>
        <h4>Manage your Advertisement</h4>
        <p>Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec quam felis.</p>
      </div>
      <div class="col-md-4">
        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
          <ul class="slides">
            <li><img src="assets/image09.jpg"></li>
          </ul>
        </div>
        <h4>Enhance your Candidate listing</h4>
        <p>Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec quam felis.</p>
      </div>
      <div class="col-md-4">
        <div class="flexslider" data-plugin-options='{"directionNav":true, "controlNav": false}'>
          <ul class="slides">
            <li><img src="assets/image11.jpg"></li>
          </ul>
        </div>
        <h4>Manage applicants</h4>
        <p>Aenean commodo ligula eget dolor. Aeneane penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec quam felis.</p>
      </div>
    </div>
  </div><!-- end: PORTFOLIO CONTAINER -->
</section>
<section class="orange">
  <!-- start: CORE BOXES CONTAINER -->
  <div class="container">
    <div class="row" style="margin-top:45px;">
      <div class="col-md-12">
        <h2 class="center">Get Free Jobs Applicants! <strong>POST A JOB TODAY</strong></h2>
        <h4 class="center">Get Jobs Applicants all over the country by posting the required
        vacancy.</h4>
        <div class="center" style="margin:30px;">
        	<%= link_to 'POST A JOB NOW', new_job_path, class: "btn btn-orange btn-lg" %>
        </div>
      </div>
    </div>
  </div><!-- end: CORE BOXES CONTAINER -->
</section>
<section>
  <!-- start: CORE BOXES CONTAINER -->
  <div class="container">
    <div class="row" style="margin-bottom:45px;">
      <h1 class="center" style="margin:45px;"><strong>Companies That Use Musimba Job Portal </strong></h1>
      <ul class="list-unstyled">
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image01.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image02.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image03.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image04.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image05.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image06.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image07.jpg"> </a>
          </div>
        </li>
        <li class="col-md-3 mix category_1" data-cat="1">
          <div class="portfolio-item img-thumbnail">
            <a class="thumb-info" href="portfolio_item.html"><img alt="" class="img-responsive"
            src="assets/image08.jpg"> </a>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- end: CORE BOXES CONTAINER -->
</section>