<section class="page-top">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <h1>FAQ</h1>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul class="pull-right breadcrumb">
        <li>
        	<%= link_to 'Home', root_path %>
        </li>
        <li class="active">FAQ</li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper padding50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="center">Frequently Asked Questions</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum
        pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut
        pulvinar lectus. Sed hendrerit nibh.</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- start: FAQ -->
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs tab-teal" id="myTab3">
            <li class="active">
              <a data-toggle="tab" href="#faq_example1"><i class="fa fa-smile-o"></i> Anim pariatur
              cliche reprehenderit,</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#faq_example2"><i class="fa fa-shopping-cart"></i> Anim
              pariatur cliche reprehenderit,</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#faq_example3"><i class="fa fa-lightbulb-o"></i> Anim
              pariatur cliche reprehenderit,</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#faq_example4"><i class="fa fa-download"></i> Anim
              pariatur cliche reprehenderit,</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#faq_example5"><i class="fa fa-laptop"></i> Anim pariatur
              cliche reprehenderit,</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#faq_example6"><i class="fa fa-wrench"></i> Anim pariatur
              cliche reprehenderit,</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="faq_example1">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_1"><i class="icon-arrow"></i>
                    Excepteur sint obcaecat cupiditat non proident?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_2"><i class="icon-arrow"></i>
                    Quis aute iure reprehenderit in voluptate velit esse cillum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_3"><i class="icon-arrow"></i>
                    Nemo enim ipsam voluptatem, quia voluptas sit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_4"><i class="icon-arrow"></i>
                    Excepteur sint obcaecat cupiditat non proident?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_5"><i class="icon-arrow"></i>
                    Quis aute iure reprehenderit in voluptate velit esse cillum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#faq_1_6"><i class="icon-arrow"></i>
                    Nemo enim ipsam voluptatem, quia voluptas sit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_1_6">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="faq_example2">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion2" data-toggle="collapse" href="#faq_2_1"><i class="icon-arrow"></i>
                    Spernatur aut odit aut fugit sed quia consequuntur magni?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_2_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion2" data-toggle="collapse" href="#faq_2_2"><i class="icon-arrow"></i>
                    Qui ratione voluptatem sequi nesciunt?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_2_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion2" data-toggle="collapse" href="#faq_2_3"><i class="icon-arrow"></i>
                    Quis nostrum exercitationem ullam corporis suscipit laboriosam?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_2_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion2" data-toggle="collapse" href="#faq_2_4"><i class="icon-arrow"></i>
                    Nisi ut aliquid ex ea commodi consequatur?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_2_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion2" data-toggle="collapse" href="#faq_2_5"><i class="icon-arrow"></i>
                    Quis autem vel eum iure reprehenderit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_2_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="faq_example3">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_1"><i class="icon-arrow"></i>
                    Quis autem vel eum iure reprehenderit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_2"><i class="icon-arrow"></i>
                    Nisi ut aliquid ex ea commodi consequatur?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_3"><i class="icon-arrow"></i>
                    Quis nostrum exercitationem ullam corporis suscipit laboriosam?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_4"><i class="icon-arrow"></i>
                    Excepteur sint obcaecat cupiditat non proident</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_5"><i class="icon-arrow"></i>
                    Temporibus autem quibusdam et aut officiis?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_6"><i class="icon-arrow"></i>
                    Anim pariatur cliche reprehenderit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_6">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_7"><i class="icon-arrow"></i>
                    Excepteur sint obcaecat cupiditat non proident</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_7">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion3" data-toggle="collapse" href="#faq_3_8"><i class="icon-arrow"></i>
                    Temporibus autem quibusdam et aut officiis?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_3_8">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="faq_example4">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_1"><i class="icon-arrow"></i>
                    Feugiat nulla facilisis at vero eros?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_2"><i class="icon-arrow"></i>
                    Accumsan et iusto odio dignissim qui blandit?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_3"><i class="icon-arrow"></i>
                    Nam liber tempor cum soluta nobis?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_4"><i class="icon-arrow"></i>
                    Placerat facer possim assum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_5"><i class="icon-arrow"></i>
                    Typi non habent claritatem insitam?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion4" data-toggle="collapse" href="#faq_4_6"><i class="icon-arrow"></i>
                    Est usus legentis in iis qui facit eorum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_4_6">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="faq_example5">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_1"><i class="icon-arrow"></i>
                    Investigationes demonstraverunt lectores?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_2"><i class="icon-arrow"></i>
                    Legere me lius quod ii legunt saepius?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_3"><i class="icon-arrow"></i>
                    Claritas est etiam processus dynamicus?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_4"><i class="icon-arrow"></i>
                    Qui sequitur mutationem consuetudium lectorum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_5"><i class="icon-arrow"></i>
                    Mirum est notare quam littera gothica?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion5" data-toggle="collapse" href="#faq_5_6"><i class="icon-arrow"></i>
                    Quam nunc putamus parum claram?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_5_6">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="faq_example6">
              <div class="panel-group accordion accordion-custom accordion-teal" id="accordion6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_1"><i class="icon-arrow"></i>
                    Anteposuerit litterarum formas humanitatis?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_1">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_2"><i class="icon-arrow"></i>
                    Per seacula quarta decima?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_2">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_3"><i class="icon-arrow"></i>
                    Eodem modo typi?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_3">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_4"><i class="icon-arrow"></i>
                    Qui nunc nobis videntur parum clari?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_4">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_5"><i class="icon-arrow"></i>
                    Fiant sollemnes in futurum?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_5">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_6"><i class="icon-arrow"></i>
                    Quis nostrud exerci tation ullamcorper suscipit lobortis?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_6">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent=
                    "#accordion6" data-toggle="collapse" href="#faq_6_7"><i class="icon-arrow"></i>
                    Aliquip ex ea commodo consequat?</a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq_6_7">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                      lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                      nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end: FAQ -->
      </div>
    </div>
  </div>
</section>
<section class="wrapper wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <p class="center">If the following questions don't suit your need please get in touch</p>
          <p class="center">
          	<%= link_to 'GET IN TOUCH', contact_path, class: "btn btn-orange btn-md" %>
     			</p>
        </div>
      </div>
    </div>
  </div>
</section>